<html>
  <style>
    body {
        font-family: 'Noto Sans SC', sans-serif;
        padding-top: 200px;
        padding-left: 550px;
        background-color: turquoise;
        
      }
</style>
  <body>

    <h2>Kiểm tra đơn hàng</h2>
    <form action="/checkout" method="POST">
      Tên khách hàng <input type="text" name="txtCustName"><br/>
      SĐT khách hàng <input type="text" name="txtCustPhone"><br/>
      <input type="submit" value="SUBMIT" />
    </form>
  </body>
</html>